@media only screen and (max-width: 1035px) {
    .carouselText {
        width: 100%;
        border-radius: none;
        z-index: 1
    }

    .carouselButtonLeft {width: 1.5em;}
    .carouselButtonRight {width: 1.5em;}
}

@media only screen and (min-width: 1036px) {
    .carouselText {
        border-radius: 0 30px 0 30px;
    }
    .carouselButtonLeft {width: 1.5em;}
    .carouselButtonRight {width: 1.5em;}
}

.carouselText {
    background: white;
    letter-spacing: 0.5em;
    padding: 12px 20px;
    line-height: 1.2em;
    font-size: 15px;
    bottom: 0.1vh;
    height: 1.5vh;
    position: fixed;
    display: inline-block;
    text-transform: uppercase;
}

.carousel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

/* Buttons on carousel page */
.rightButtonBox {
    float: right;
    cursor: pointer;
    -webkit-animation: buttonflash 1.5s;
    opacity: 0;
}

.rightButtonBox:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.leftButtonBox {
    float: left;
    cursor: pointer;
    -webkit-animation: buttonflash 1.5s;
    opacity: 0;
    
}

.leftButtonBox:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
    
}

.carouselButtonRight {
    text-align: center;
    border-radius: 10px;
    margin-right: 2em;
    margin-top: -10em;
    color: white;
    font-size: 35px;
    background-color: black;
    position: sticky;
}

.carouselButtonLeft {
    text-align: center;
    border-radius: 10px;
    margin-left: 2em;
    margin-top: -10em;
    color: white;
    font-size: 35px;
    background-color: black;
    position: sticky;
}


@keyframes buttonflash {
    from {opacity: 1}
    to {opacity: 0}
}