@media only screen and (max-width: 1053px) {
    label {
        display: inline-block;
        width: 6em;
        padding-top: 1.5em;
    }
    
    .contactContainer {
        flex-direction: column;
        margin-left: 8vw;
        width: 95%;
    }

    .contactContainer h1 {
        font-size: 23px;
    }

    .contactLabelName {
        width: 100%;
    }

    .contactLabelName input {
        width: 94%;
    }

    .contactForm {
        width: 90%;
    }

    .contactLabel input {
        width: 83vw;
    }

    .contactLabel textarea {
        /* width: 76.5vw; */
        width: 83vw;
    }
}

@media only screen and (min-width: 1054px) {
    .contactContainer {
        flex-direction: row;
        padding-top: 9vh;
        padding-left: 2vw;
        margin: 0 auto;
        width: 70%;
    }

    .contactForm {
        margin-top: 6vh;
        margin-left: 5vw;
    }

    .contactName {
        justify-content: space-between;
    }

    .contactName input {
        width: 20vw;
    }

    .contactLabel input {
        width: 44.8vw;
    }

    .contactLabel textarea {
        width: 44.8vw;
    }

    label {
        margin-right: .5em;
    }
}

.contactContainer {
    display: flex;
}

.contactContainer h1 {
    margin-top: 9vh;
    letter-spacing: 2px;
}

.contactName {
    display: flex;
}

.contactName input {
    display: block;
}

.contactForm {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.contactForm input:not([type~='submit']) {
    height: 4vh;
    border-radius: 2px;
    border: 1px solid #ccc
}

.contactLabel input{
    display: block;
}

.contactLabel textarea {
    height: 20vh;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: block;
    position: fixed;
}

.contactForm [type~='submit'] {
    width: 12vw;
    height: 5vh;
    margin-top: 2vh;
    font-size: 12px;
    color: white;
    background-color: black;
}

.contactForm [type~='submit']:hover {
    opacity: 0.5;
    cursor: pointer;
}

label {
    display: block;
    /* width: 6em; */
    padding-top: 1.5em;
}