body {
    font-family: PT sans;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1035px) {
    .navRight {display: none;}
    .navLeft {
        font-size: 1.6em;
        letter-spacing: 0.18em;
    }
    .icon {display: visible}
}

@media only screen and (min-width: 1036px) {
    .navLeft {
        font-size: 5.4vh;
        letter-spacing: 0.289474em;
    }
    .icon {display: none}
}

.icon {
    float: right;
    font-size: 1.5em;
    margin-right: 0.5em;
}

.navbar {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 6%;
}

ul {
    list-style-type: none;
}

li {
    font-size: 15px;
    display: inline-block;
    margin-left: 1.7vw;
}

li:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    position: none;
    padding: 5px 0;
}

.navLeft {
    float: left;
    text-decoration: none;
    margin-top: 0.5vh;
    font-weight: 700;
    margin-left: 2vw;
    position: fixed;
}

.navRight {
    width: 35%;
    margin-left: 64vw;
    margin-top: 0.2vh;
    position: fixed;
    z-index: 1;
}

/* Dropdown stuff */

.dropdown {
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 18px;
    left: 50%;
    right: auto;
    /* margin-left: -100px; */
    z-index: 1100px;
    transform: translateX(-50%);
}

.dropdown-child {
    padding: 15px 20px;
    margin: 0;
    background: black;
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    clear: both;
    font-size: 12.75px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content .dropdown-child {display: inline-block;}

/* Underline when hovering word */

.dropdown .dropdown-child a {
    position: relative;
    color: white;
    text-decoration: none;
}

.dropdown .dropdown-child a:hover {
    cursor: pointer;
    color: white;
}

.dropdown .dropdown-child a span {
    border-bottom: 0.05em solid transparent;
}

.dropdown .dropdown-child a span:hover {
    -webkit-transition: border-bottom 0.2s;
    border-bottom: 0.05em solid white;
}

/* The triangle of the dropdown menus */

.dropdown .dropdown-content ul.dropdown-child:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 0 0 10px;
    border-style: solid;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
}
