@media only screen and (min-width: 1053px) {
    .resume {padding-top: 12vh;}
}

.resume .content {
    text-align: center;
}

.resume {
    width: 60%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
}

.resume p {
    letter-spacing: 0.5px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}